.services {
    box-shadow: 0 0 56px -8px rgb(0 0 0 / 17%);
    border-bottom: 2px solid #2c98f0;
    padding: 5%;
    height: 98%;
}

.services>.desc>h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
    margin-bottom: 30px;
    color: #000;
}

.services>.desc>p,
.services>.desc>span,
.services>.desc>ul,
.services>.desc>li,
.services>.desc>small,
.services>.desc>a {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, .7);
}