<nav [ngClass]="{'bg-transparent': !scrolled, 'bg-white': scrolled, 'shadow-md': scrolled}"
    class="fixed w-full z-20 top-0 start-0 border-b border-gray-200 transition-all duration-300">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://giovannipasquariello.dev/" class="flex items-center space-x-2 rtl:space-x-reverse">
            <img src="/assets/images/logo-v2-no-bg.png" class="h-11" alt="Giovanni Pasquariello Logo">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray">Giovanni Pasquariello</span>
        </a>
        <!-- Hamburger Icon for Mobile -->
        <button (click)="toggleMenu()" type="button"
            class="md:hidden text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:text-white dark:focus:ring-white"
            aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"></div>
        <!-- Menu Items -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray md:space-x-20 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-gray">
                <li><a href="#"
                        class="block py-2 px-3 mr-10 text-black bg-black-700 rounded-sm md:bg-transparent md:text-gray-700 md:p-0 md:text-gray-500"
                        aria-current="page">01 Home</a></li>
                <li><a href="#"
                        class="block py-2 px-3 mr-10 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-700 md:p-0 md:dark:hover:text-gray-500 dark:text-gray dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">02
                        Blog</a></li>
                <li><a href="#contact-section"
                        class="block py-2 px-3 mr-10 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-700 md:p-0 md:dark:hover:text-gray-500 dark:text-gray dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">03
                        Contacts</a></li>
            </ul>
        </div>
    </div>
    <!-- Mobile Menu (hidden by default) -->
    <div class="md:hidden" id="mobile-menu" [class.hidden]="!isMenuOpen">
        <ul class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg bg-gray">
            <li><a href="#" class="block py-2 px-3 mr-10 text-black bg-black-700 rounded-sm">01 Home</a></li>
            <li><a href="#" class="block py-2 px-3 mr-10 text-gray-900 rounded-sm">02 Blog</a></li>
            <li><a href="#contact-section" class="block py-2 px-3 mr-10 text-gray-900 rounded-sm">03 Contacts</a></li>
        </ul>
    </div>
</nav>