#main-left-col {
    background-color: #f2f3f7;
    height: 100vh
}

#rounded_me_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.occupation {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
}

.nav-menu {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Quicksand", Arial, sans-serif;
}

ul>li>a {
    color: rgba(0, 0, 0, 0.7);
}

ul>li>a:hover,
ul>li>.active {
    letter-spacing: 1px;
    text-decoration: underline;
    color: #2c98f0;
    font-weight: bold;
}

//////////////////////responsive 
@media only screen and (max-width: 850px) {
    #main-left-col {
        display: none;
    }
}