/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'UbuntuCondensed';
    src: url('assets/fonts/UbuntuCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}