.image-contact {
    width: 7em;
    height: 5em;
    right: -25%;
    position: relative;
}

.dark {
    color: black;
}

.grow {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.grow:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}